.contacts{

}

.contacts__title{

}

.contacts__adress{
  margin: 0;
}

.contacts__phone-link{

}

.contacts__tel{

}

@media (min-width: $tablet-width) {
  .contacts{
    width: 320px;
    text-align: left;
    margin: 0;
  }

  .contacts__adress br{
    display: none;
  }
}

@media (min-width: $desktop-width) {

}
