.page-header{
  display: flex;
  flex-direction: column;
}

.page-header__logo-link{
  background-color: rgba(173,233,58,0.5);
  height: 85px;
}

@media (min-width: $tablet-width) {
  .page-header__logo-link{
    order: 2;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
 .page-header__logo-link{
    height: 648px;
  }
}
