.social{

}

.social__title{
  display: none;
}

.social__list{
  @include reset-list;
  display: flex;
}

.social__item{
  display: flex;
}

.social__link{
  font-size: 0;
  display: flex;
  height: 101px;
  border: 1px solid #3f3f3f;
}

.social__link--vkontakte{
  width: 107px;
}

.social__link--facebook{
  width: 106px;
}

.social__link--instagram{
  width: 107px;
}

@media (min-width: $tablet-width) {
  .social__item,
  .social__link{
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .social__title{
    display: block;
  }

  .social__item{
    margin-right: 6px;
  }

  .social__link{
    font-size: 0;
    display: flex;
    height: 50px;
    width: 50px;
  }
}
