.stats{
  outline:1px solid red;
  width: 320px;
  margin: 0 auto;
}

.stats__header{
  background-color: #acc;
  padding: 30px 40px 25px;
  box-sizing: border-box;
  min-height: 184px;
}

.stats__slogan{

}

.stats__intro{

}

.stats__legend{

}

.stats__legend--top{
  display: none;
}

.stats__legend--bottom{

}

.stats__list{
  background-color: #a9c;
  min-height: 370px;
  width: 100%;
}

.stats__value{

}

.stats__field{

}

@media (min-width: $tablet-width) {
  .stats{
    width: 640px;
    margin: 0 auto;
  }

  .stats__legend--top{
    display: inline;
  }

  .stats__legend--bottom{
    display: none;
  }

  .stats__header{
    margin-top: -184px;
  }

  .stats__list{
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .stats{
    width: 960px;
    display: flex;
    margin-top: -160px;
  }

  .stats__header{
    width: 320px;
    margin-top: 0;
  }

  .stats__list{
    width: 640px;
    min-height: 318px;

  }
}
