// variables.scss
$bg-darkgrey: #292929;
$bg-lightgrey: #f8f5f2;
$tablet-width: 768px;
$desktop-width: 1200px;

// scaffolding.scss
body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 27px;
  font-family: Arial, sans-serif;
  color: #f7f4f1;
  font-style: normal;

  background-color: $bg-darkgrey;
}

img {
  min-width: 100%;
  height: auto;
}

// mixins.scss
@mixin no-outlines {
  outline: none;
  background: transparent;

  &::before {
    display: none;
  }
}

@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

// blocks/page-header.scss
.page-header {
  background-color: red;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 85px;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    order: 2;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    height: 648px;
  }
}

// blocks/main-nav.scss
.main-nav {
  background-color: green;
  width: 320px;
}

.main-nav__list {
  @include reset-list;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 100%;
    margin: 0;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }

  .site-list {
    width: 570px;
  }

  .user-list {
    width: 60px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 960px;
  }

  .site-list {
    width: 780px;
  }

  .user-list {
    width: 160px;
  }
}

// blocks/stats.scss
.stats {
  background-color: yellow;
  width: 320px;
  margin: 0 auto;
}

.stats__header {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 25px;
  padding-left: 40px;
}

.stats__list {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .stats {
    width: 640px;
    margin-top: -185px;
  }

  .stats__list {
    display: flex;
  }
}
@media (min-width: $desktop-width) {
  .stats {
    display: flex;
    width: 960px;
    margin-top: -160px;
  }

  .stats__header {
    width: 320px;
  }
}

// *inner-page (form.html)
// blocks/page-header.scss

// !!!уточнить как делать на разных страницах с адаптивом
@media (min-width: $tablet-width) {
  .inner-page-header .page-header__logo {
    height: 215px;
  }
}

@media (min-width: $desktop-width) {
  .inner-page-header .page-header__logo {
    height: 310px;
  }
}

// blocks/inner-page.scss
 .inner-page-main__wrapper {
   width: 280px;
   margin: 0 auto;
 }

 @media (min-width: $tablet-width) {
  .inner-page-main__wrapper {
    width: 640px;
  }
}

@media (min-width: $desktop-width) {
  .inner-page-main__wrapper {
    width: 960px;
  }
}


// blocks/form.scss
.form {
  display: flex;
  flex-direction: column;
}

.form__list {
  @include reset-list;
}

// !попапы
